@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

/* Leaflet z-index fix */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  z-index: 0;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
